main {
  margin: 0 auto;
  text-align: center;
  max-width: 1000px;
  background-color: white;
}

.wrapper {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.beer-card {
  width: 220px;
  margin: 15px 30px;
  padding: 10px;
  text-decoration: none;
  color: #0b0b0b;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  transition: 0.3s;
}

.beer-card:hover {
  box-shadow: rgba(125, 111, 162, 0.25) 0px 54px 55px,
    rgba(125, 111, 162, 0.12) 0px -12px 30px,
    rgba(125, 111, 162, 0.12) 0px 4px 6px,
    rgba(125, 111, 162, 0.17) 0px 12px 13px,
    rgba(125, 111, 162, 0.09) 0px -3px 5px;
}

.beer-card__container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 10px;
  align-items: center;
}

.beer-card__img {
  width: auto;
  height: 150px;
}

.beer-card__title {
  font-family: 'Lato', sans-serif;
  margin: 5px;
}

.beer-card__line {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 30px;
}

.beer-card__line-left-line,
.beer-card__line-right-line {
  height: 1px;
  width: 75px;
  background-color: #ddd;
}

.beer-card__line-icon {
  color: #0b0b0b;
  font-size: 0.5rem;
  transform: rotate(45deg);
  transition: 0.3s;
}

.beer-card__content {
  font-family: 'Karla', sans-serif;
}
